.DS_Store
.idea
.terraformrc
.terraform
*_override.tf
*_override.tf.json
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
**/.terraform.lock.hcl
**/.terraform/*
**/*.tfstate
crash.*.log
crash.log
override.tf
override.tf.json
terraform.rc
